* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  width: 100%;
  color: hsl(192, 100%, 9%);
}
img {
  width: 200px;
}
h3 {
  font-family: "Poppins", sans-serif;
}
main {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5em;
  font-size: 18px;
}
.first {
  padding: 3em;
  background-color: hsl(193, 100%, 96%);
  background-image: url(/assets/bg-hero-desktop.svg);
}
.firstbottom {
  display: flex;
  padding: 3em;
  justify-content: center;
  align-items: center;
}
.top {
  width: 50%;
  vertical-align: middle;
}
.bottom {
  width: 50%;
  vertical-align: middle;
}
.cover {
  padding: 5em;
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.inner {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 5em;
  padding: 5em;
  margin: auto;
  box-shadow: 0px -1px 0px 7px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px -1px 0px 7px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -1px 0px 7px rgba(0, 0, 0, 0.13);
}
#inner2 {
  flex-direction: row-reverse;
}
.parent {
  background-color: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  height: 330px;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  position: relative;
  padding: 2em;
  margin: 0;
}
.child {
  border-radius: 20px;
  color: black;
  background-color: white;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  bottom: 350px;
  left: 30%;
  padding: 1em 2em;
  box-shadow: 0px -1px 0px 7px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px -1px 0px 7px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -1px 0px 7px rgba(0, 0, 0, 0.13);
}
.child button a {
  background-color: red;
  border-radius: 20px;
  color: black;
  padding: 0.5em 2em;
  align-items: center;
}
.pchild {
  padding: 2em;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.imgcol {
  vertical-align: top;
}
.imgcol img {
  width: 20px;
}
.pol {
  width: 90%;
}
.ppchild {
  border: 1px white;
  width: fit-content;
}

.pschild {
  width: calc(1 / 3 * 50%);
}
.spchild {
  width: calc(1 / 3 * 50%);
}
.pspchild {
  width: calc(1 / 3 * 50%);
  display: flex;
  flex-direction: row;
  gap: 2em;
}
a {
  color: white;
  text-decoration: none;
}
.pspchild a:hover {
  color: red;
}
.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 375px) {
  main,
  body {
    text-align: center;
  }
  .first {
    background-image: url(/assets/bg-hero-mobile.svg);
    padding: 2%;
    margin: 0%;
  }
  .firstbottom {
    padding: 2%;
    margin: 0%;
  }
  .cover {
    padding: 5%;
    gap: 1em;
  }
  .bottom,
  .top {
    padding: 10px;
  }
  .inner {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #inner2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .parent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  .child {
    position: absolute;
    bottom: 750px;
    left: 20px;
  }
  .pchild {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    bottom: 2em;
  }
  .ppchild {
    width: 80%;
  }
  .imgcol img {
    width: 10px;
  }
  .copyright {
    position: absolute;
    right: 5%;
    bottom: 0;
  }
  .pspchild {
    position: absolute;
    right: 100px;
    bottom: 4em;
  }
}
